<%- include("../partials/header") %>

<div class="container">
  <header class="jumbotron">
    <h1>Campgrounds page</h1>
    <a href="/campgrounds/new" class="btn btn-primary btn-lg"
      >Add new Campgrounds
      </a>
  </header>

  <div class="row" style="display:flex ; flex-wrap:wrap">

         <% campgrounds.forEach(function(campground){%>
            <div class="col-md-3 col-sm-6 ">
                <div class="thumbnail">
                    <img src="<%= campground.image %>" alt="" />
                </div>
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p>
                  <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More info</a>
                </p>  
            </div>
            
            <% })%>
          
  </div>
    
    
</div>

<%- include("../partials/footer") %>
